@charset "UTF-8";

:root {
    --cor0: #57ACE6 ;
    --cor1: #5B8CF0 ;
    --cor2: #5D65D9 ;
    --cor3: #795BF0 ; 
    --cor4: #9B57E6 ;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}