@charset "UTF-8";

:root {
    --cor0: #57ACE6 ;
    --cor1: #5B8CF0 ;
    --cor2: #5D65D9 ;
    --cor3: #795BF0 ; 
    --cor4: #9B57E6 ;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor2);
    font-size: 2.3em;
    padding: 10px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.377);
}

div > p {
    padding: 10px;
    font-weight: bolder;
    font-size: 1.1em;
}

div {
    display: inline-block;
}

div#imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#formulario {
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 600px;
    height: 310px;
    
    margin: auto;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

img {
    width: 220px;
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form {
    padding: 5px;
}

form > input {
    font-size: 1.4em;
    width: 30vw;
    padding: 4px;
    background-color: #57ade696;
    border: 2px solid var(--cor3);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

label {
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 7px;
    background-color: var(--cor3);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

label:hover {
    background-color: var(--cor2);
}

form > input.botao {
    color: white;
    font-weight: bolder;
    background: var(--cor3);
    border-radius: 10px;
    width: 37vw;
}

form > input.botao:hover {
    background-color: var(--cor2);
}

form>input#Esqueci {
    color: var(--cor2);
    background-color: #795bf071 ;
}

span#imail {
    font-size: 1.4em;
    position: absolute;
    top: 37.5%;
    left: 10%;
    color: white;
    font-size: 1.6em;
    font-weight: bolder;
    background-color: var(--cor3);
    padding-bottom: 3px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}