@charset "UTF-8";

:root {
    --cor0: #57ACE6 ;
    --cor1: #5B8CF0 ;
    --cor2: #5D65D9 ;
    --cor3: #795BF0 ; 
    --cor4: #9B57E6 ;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--cor0) url(../imagens/pexels-henry-&-co-1939485.jpg);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.644);
    width: 300px;
    height: 600px;
    border-radius: 6px;
    transition: width 0.7s, heidth 0.7s;
    transition-timing-function: ease;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.384);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-hana-brannigan-3652902.jpg);
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formula{
    display: block;
    text-align: center;
    padding: 10px;
}

div#formula > h1 {
    color: var(--cor2);
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 15px;
    text-shadow: 1px 2px #5B8CF0;
}

div#formula > p {
    padding-bottom: 20px;
}

div.camp > input{
    background-color: rgba(255, 255, 255, 0.171);
    font-size: 1em;
    padding: 8px;
    margin: 10px;
    width: 240px;
    border: 1px solid var(--cor2);border-radius: 5px;
}

input#entrar {
    cursor: pointer;
    color: var(--cor3);
    background-color: rgba(255, 255, 255, 0.171);
    font-size: 1em;
    padding: 8px;
    margin: 10px;
    margin-right: 30px;
    width: 255px;
    border-radius: 5px;
    border: 1px solid var(--cor2);
} 

input#entrar:hover {
    background-color: rgba(255, 255, 255, 0.582);
}

span {
    color: var(--cor3);
    display: inline-block;
    transform: translatey(5px);
    height: 35px;
    width: 40px;
    margin:-17px;
}

a.esq {
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.171);
    font-size: 1em;
    padding: 8px;
    margin: 10px;
    width: 255px;
    color: var(--cor3);
    border: 1px solid var(--cor2);
    border-radius: 5px;
}

a.esq:hover {
    background-color: rgba(255, 255, 255, 0.582);
}

p.voltar {
    cursor: pointer;
    font-weight: bolder;
    color: var(--cor3);
    margin-top: 22px;
    margin-left: 25px;
    text-align: left;
}

p.voltar > span {
    transform: translatey(5px);
}